<div class="review-wrapper">
<header>
    <div class="review-name-wrapper"><%= fa_icon "user", class: "user-icon" %><h4><%= username%></h4></div>
    <div class="star-wrapper">
      <% if rating == 1 %>
        <%= fa_icon "star", class: "filled" %>
        <%= fa_icon "star", class: "empty" %>
        <%= fa_icon "star", class: "empty" %>
        <%= fa_icon "star", class: "empty" %>
        <%= fa_icon "star", class: "empty" %>
      <% end %>
      <% if rating == 2 %>
        <%= fa_icon "star", class: "filled" %>
        <%= fa_icon "star", class: "filled" %>
        <%= fa_icon "star", class: "empty" %>
        <%= fa_icon "star", class: "empty" %>
        <%= fa_icon "star", class: "empty" %>
      <% end %>
      <% if rating == 3 %>
        <%= fa_icon "star", class: "filled" %>
        <%= fa_icon "star", class: "filled" %>
        <%= fa_icon "star", class: "filled" %>
        <%= fa_icon "star", class: "empty" %>
        <%= fa_icon "star", class: "empty" %>
      <% end %>
      <% if rating == 4 %>
        <%= fa_icon "star", class: "filled" %>
        <%= fa_icon "star", class: "filled" %>
        <%= fa_icon "star", class: "filled" %>
        <%= fa_icon "star", class: "filled" %>
        <%= fa_icon "star", class: "empty" %>
      <% end %>
      <% if rating == 5 %>
        <%= fa_icon "star", class: "filled" %>
        <%= fa_icon "star", class: "filled" %>
        <%= fa_icon "star", class: "filled" %>
        <%= fa_icon "star", class: "filled" %>
        <%= fa_icon "star", class: "filled" %>
      <% end %>
    </div>
</header>
    <div class="description-wrapper">
      <p><%= description %></p>
    </div>


</div>
